@{
    ViewBag.Title = "Admin Panel";
}

<div style="display:flex;justify-content:center;align-items:center">
    <h1 style="font-weight:700;margin-top:50px">Admin Panel</h1>
</div>

<div style="display:flex;flex-wrap:wrap;flex:6;gap:40px;flex-direction:row;justify-content:space-around;align-items:center;margin-top:150px">
    <div>
        <button onclick="location.href='@Url.Action("ListUsers", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Users</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListCities", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Cities</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListAccommodations", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Accommodations</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListReviews", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Reviews</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListDestinations", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Destinations</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListActivities", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Activities</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListPreferences", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Preferences</button>
    </div>
    <div style="display:flex;justify-content:center;align-items:center">
        <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary" style="width:320px;height:60px;border-radius:12px">Return</button>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ListAmenities", "AdminPanel")'" class="btn btn-primary" style="width:320px;height:60px;border-radius:12px">List Amenities</button>
    </div>

</div>

